<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script>
    // Displays error message as an alert before redirecting user to previous page, history.back() method found on w3schools
    alert('${user_name} does not exist!');
    window.history.back();
</script>
</body>
</html>