<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged out</title>
</head>
<body>
<script>
    // Displays logout message to verify user has logged out
    alert('You have successfully logged out!');
    window.location.href('./');
</script>   
</body>
</html>