body {
    /* Form styling */ 
    width: 800px;
    margin: 0 auto;
    background-color:rgb(245, 100, 130);
    color: white;
}
img{
    /* General */
    width: 200px;
    height: 200px;
    border: black;
    border-style: ridge;
    border-width: 5px;
    border-radius: 40px;
}
h1{
    /* Typography */ 
    text-align: center;
    color: white;
    font-family: cursive;
    font-style: italic;
    color: #FFFFFF;
background: rgb(245, 100, 130);
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, maroon 0px 0px 20px, maroon 0px 0px 30px, maroon 0px 0px 40px, maroon 0px 0px 50px, maroon 0px 0px 75px;
}
h2{
    text-align: center;
}
main{
    /* block styling */ 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
div{
    /* Styling the products display */
    border: 5px solid white;
    display: flex;
    background-image: url("./Images/phone_globe.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-color:rgb(245, 100, 130);
}
footer{
    background-color: rgb(245, 100, 130);
}
